
.full{
    background: url('../../../assets/images/staffinside.jpg') ;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    background-size:cover
}

@media  (min-width: 768px){
    .full{
        background-size: 100% 100%;
        
    }
}