<div class="row full">
    <div class="container">
     
        <div class="row mx-1">
        <div class="cstaff mt-3 col-sm-12 col-md-6">
            <div class="card">
                <h2 class="card-header text-center">Create Staff</h2>
                <div class="card-body">
                    <form  class="formstyle" name="formdetail" #formdetail="ngForm" (ngSubmit)="onsubmit(formdetail)">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 form-group">
                                <select class="form-control" name="branch" #mylist ngModel>  
                                    <option value="" default>Select branch</option>
                                    <option *ngFor="let b of branch"  >{{b}}</option>
                                
                            
                                </select>                         
                            </div>
                        <div class="col-sm-12 form-group">                        
                            <input type="text" required name="names" class="form-control" placeholder="Enter Name"  ngModel>                        
                        </div>
                        <div class="col-sm-12 form-group">                        
                            <input type="number" required name="age" class="form-control" placeholder="Enter Age"  ngModel>                       
                        </div>
                        <div class="form-group"  >
                          
                            <div class="form-check-inline" >
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1" ngModel > 
                                <label class="form-check-label" for="flexRadioDefault1">
                                Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" ngModel >
                                <label class="form-check-label" for="flexRadioDefault2">
                                Female
                                </label>
                            </div>
                       
                        </div>
                        <div class="col-sm-12 form-group" >                        
                            <input type="text" ngModel required name="edu" class="form-control" placeholder="Education" >                       
                        </div>
                        <div class="col-sm-12 form-group" >   
                            <label for="add"> Address</label>                     
                            <textarea type="text" required height="50px;" name="add" ngModel class="form-control" > </textarea>                      
                        </div>
                        <div class="col-sm-12 form-group" >
                                <button type="submit" class="btn btn-primary" (click)=onadd(formdetail)>Add</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

        </div>
         <div class="col-sm-12 col-md-6">
             <div class="row">
             <div class="offset-sm-2 col-sm-8 mt-5">
                <h2>STAFFS</h2>
                <ul class="list-group" >
                    <li class="list-group-item" *ngFor="let staff of persons">
                        <div class="row">

                        <div class="col-9">{{staff.names}} || {{staff.branch}} </div>
                        <div class="col-3"><button class="btn btn-sm btn-danger" type="button" (click)="onDelete(staff);">Delete</button></div>
                        
                        </div>
                    </li>               
                </ul>
             </div>
             <div class="col-sm-12 mt-5 text-center">
                <button class="btn btn-lg btn-warning " (click)="onview()">View Staff Details</button>
             </div>
             </div>
             <!-- <div *ngFor="let per of persons">
             <div class="offset-sm-2 col-sm-8 offset-sm-2  mt-5 viewer rounded" *ngIf="display"  >
                <div class="close" (click)="onCloseClick()">x</div>
                
                 <h1 class="text-center">{{per.names}}</h1>
                     <p>Branch : {{per.branch}}</p>
                     <p>Age : {{per.age}}</p>
                     <p>Sex : {{per.flexRadioDefault}}</p>
                     <p>Qualification : {{per.edu}}</p>
                     <p>Address : {{per.add}}</p>
                    
             </div>
            
        </div> -->
        </div>
    
       
   
    </div>

    <div class="row mt-5 mx-2">
        <div class="col-sm-12  bg-light" *ngIf="display">
            <div class="close" (click)="onCloseClick()">x</div>
            <div class="container-fluid">
                <table class="table table-striped table-responsive"> 
                  <thead>
                      <tr>
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Age</th>
                        <th>Qualification</th>
                        <th>Address</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let per of persons">
                      <td>{{ per.names }}</td>
                      <td>{{ per.branch}}</td>
                      <td>{{ per.age }}</td>
                      <td>{{ per.edu }}</td>
                      <td>{{ per.add }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
