<div class="row full">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">       
                 <div class="graph mt-3 ">
                   
                </div>
            </div>
        </div>
        <div class="row mx-1">
        <div class="cstaff mt-3 col-sm-12 col-md-6">
            <div class="card">
                <h2 class="card-header text-center">Create Staff</h2>
                <div class="card-body">
                    <form class=" formstyle">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 form-group">
                                <select class="form-control" name="branch" >
                                    <option default>Select Branch</option>
                                <option value="1">Staff nurse</option>
                                <option value="2">Ward boy</option>
                                <option value="3">Ambulance driver</option>
                                <option value="4">Duty nurse</option>
                                <option value="5">op nurse</option>
                            
                                </select>                         
                            </div>
                        <div class="col-sm-12 form-group">                        
                            <input type="text" required name="name" class="form-control" placeholder="Enter Name" [(ngModel)]="name">                        
                        </div>
                        <div class="col-sm-12 form-group">                        
                            <input type="number" required name="age" class="form-control" placeholder="Enter Age" [(ngModel)]="age">                       
                        </div>
                        <div class="form-group">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                Female
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-12 form-group">                        
                            <input type="number" required name="edu" class="form-control" placeholder="Education" >                       
                        </div>
                        <div class="col-sm-12 form-group">   
                            <label for="add"> Address</label>                     
                            <textarea type="text" required height="50px;" name="add" class="form-control" > </textarea>                      
                        </div>
                        <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-primary" (click)="onClick();">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

        </div>
         <div class="col-sm-12 col-md-6">
            <h2>STAFFS</h2>
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let staff of persons">
                    <div class="row">
                    <div class="col-6">{{staff}} </div>
                    <div class="col-3"><button class="btn btn-sm btn-danger" type="button" (click)="onDelete();">Delete</button></div>
                    <div class="col-3"><button class="btn btn-sm btn-warning" type="button" (click)="onDelete();">Edit</button></div>
                    </div>
                </li>               
            </ul>
        </div>
        </div>
    
       
   
    </div>


</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript">
 function onch(){
  var xValues = [50,60,70,80,90,100,110,120,130,140,150];
  var yValues = [7,8,8,9,9,9,10,11,14,14,15];
  
  let myChart = new Chart("myChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}]}
    }
  });
  }

</script> -->