
<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="row flex-nowrap">
            <div class=" col-md-12  px-0  col1  p-5">
                <div class="d-flex flex-column  mx-5 align-items-sm-start  text-white min-vh-60  colinside">
                    <i class="fas fa-user-cog fa-6x " ></i><br>
                    <h1>Admin</h1><br>
                    <a  routerLink="" ><button class="btn btn-light btn-block">Logout</button></a>
                
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="container">
            <div class="row mt-5">
            <div class="col-sm-12 col-md-6 mb-5">
                <a routerLink="/createstaff">
                <div class="card">
                    <div class="card-header text-center ">
                        <h3>STAFFS'S DETAILS</h3>
                    </div>
                    <div class="card-body">
                        <img src="assets/images/staff.jpg" class="img-responsive card-img-top" alt="">
                    </div>
                    </div>
                    </a>
            </div>
            <div class="col-sm-12 col-md-6 mb-5">
                <a routerLink="/createdoctor">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>DOCTOR'S DETAILS</h3>
                    </div>
                    <div class="card-body ">
                        <img src="assets/images/doc.jpg" class="img-responsive card-img-top" alt="">
                    </div>
                    </div>
                    </a>
            </div>
            </div>

        </div>

    </div>

    
</div>
