<header><nav>
    <div class="row pt-3 ">
        <div class="col-sm-1 p-2 logo"> <a  routerLink="" ><img src="../assets/images/logo-min.png" class="img-responsive logo"></a></div>
        <div class="col-sm-11 text-center text-dark text-sm-small head " style="font-family: 'Kaushan Script', cursive;"><h3>THE RENAL PROJECT</h3></div>
    </div>
    
</nav>
</header><div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="row flex-nowrap">
            <div class=" col-md-12  px-0  col1  p-5">
                <div class="d-flex flex-column  mx-5 align-items-sm-start  text-white min-vh-60  colinside">
                    <i class="fas fa-user-md fa-6x"></i><br>
                    <h1>Doctor</h1><br>
                    <a  routerLink="" ><button class="btn btn-light btn-block">Logout</button></a>
                
                </div>
            </div>

        </div>
    </div>
 
        <div class="col-sm-12 col-md-9 mt-5 ">
            <h2 align="center">PATIENT'S LIST</h2>
            <ul class="list-group mx-2" >
                <li class="list-group-item" *ngFor="let Patients of persons">
                    <div class="row">
                    <div class="col-6">{{Patients}} </div>
                    <div class="col-3"><button class="btn btn-danger rounded-pill btn-sm" type="button" (click)="onDelete();">Delete</button></div>
                    <div class="col-3"><button class="btn btn-warning rounded-pill btn-sm" type="button" (click)="onDelete();">Edit</button></div>
                    </div>
                </li>               
            </ul>
        </div>
   
    </div>
  