<router-outlet></router-outlet>
<div class="fullpage">
    <nav>
        <div class="row pt-3">

            <div class="col-sm-1 p-2 logo"><img src="assets/images/logo-min.png"  class="img-responsive logo"></div>
            <div class="col-sm-11 text-center text-light  " style="font-family: 'Kaushan Script', cursive;"><h1>THE RENAL PROJECT</h1></div>

            

        </div>
        
    </nav>
  
    <header>
        <div class="row">
            <div class="col-sm-12 col-md-5"> <img src="assets/images/reception.png" align="right" alt="reception" class="reception"></div>
            <div class="col-sm-12 col-md-7">
                <div class="container">
                <app-login></app-login>
            </div>
               <!-- <a class="btn btn-warning btn-lg m-5" role="button">Doctor</a>
               <a href="" class="btn btn-warning btn-lg m-5 " role="button">Staff</a>
               <a href="" class="btn btn-warning btn-lg m-5" role="button">Admin</a> -->
            </div>
  
            </div>
        
       
    </header>
    <footer>
        
    </footer>
    </div>
 
